@page
@using SerilogDestructuringSampleApp.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* 
    Rather than writing the code below I asked AI to write the code. This is a great way to use any AI tool
    even if a developer knows how to write the code as this is leaves time for more important tasks.
*@

<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
    <symbol id="icon-asterisk" viewBox="0 0 16 16" fill="currentColor">
        <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"/>
    </symbol>
</svg>


<h1 class="text-center">IDestructuringPolicy</h1>

<div class="d-flex justify-content-center">
    <div class="fs-4">

        <svg width="16" height="16" class="red-icon">
            <use href="#icon-asterisk"></use>
        </svg>

        See console window

        <svg width="16" height="16" class="red-icon">
            <use href="#icon-asterisk"></use>
        </svg>

    </div>
</div>

<div class="container mt-4">
    <h2>Customer Directory</h2>

    @foreach (var customer in Model.Customers)
    {
        <div class="row border rounded mb-3 p-3">
            <div class="col-md-3">
                <strong>@customer.FirstName @customer.LastName</strong><br />
                <span>@customer.WorkTitle</span>
            </div>
            <div class="col-md-4">
                <span><strong>Email:</strong> @customer.OfficeEmail</span><br />
                <span><strong>Phone:</strong> @customer.OfficePhoneNumber</span>
            </div>
            <div class="col-md-3">
                <span><strong>Date of Birth:</strong> @customer.DateOfBirth.ToShortDateString()</span>
            </div>
            <div class="col-md-3">
                <span><strong>Customer Type:</strong> @(customer is GoldCustomer ? "Gold" : "Standard")</span>
            </div>
        </div>
    }
</div>
